.body {
  overflow-x: hidden;
}

@font-face {
  font-family: "aryan";
  src: url("./Maytorm-Regular.ttf") format("truetype");
  font-weight: bold;
}

.navlist {
  margin-left: 20px;
  margin-right: 10px;

  list-style: none;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "aryan";

  font-size: 8vh;
  margin-top: 20px;
  margin-left: 100px;
  color: rgb(230, 230, 132);
}

.navlinks {
  display: flex;
  gap: 30px;

  color: black;
  font-weight: 600;
  margin-top: 50px;
  margin-right: 100px;
}

* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
}

.navcontainer {
  width: 100%;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 8, 89, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100px;
}

.image {
  zoom: 50%;
  margin-left: 30%;
  margin-top: 8%;
}

.container {
  height: 115vh;
  width: 100%;
  background: #cd2ee6;
  background: linear-gradient(
    69deg,
    rgba(205, 46, 230, 1) 10%,
    rgba(199, 107, 209, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

a {
  display: flex;
  text-decoration: none;

  font-size: 20px;
  transition: black 0.5s;
}

a:hover {
  color: rgb(232, 80, 4);
}

.btn-container {
  display: flex;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;

  list-style: none;
  justify-content: space-between;
}

.order {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #cd2ee6;
  background: linear-gradient(
    69deg,
    rgba(205, 46, 230, 1) 10%,
    rgba(21, 4, 23, 1) 50%,
    rgba(20, 12, 12, 1) 100%
  );
}

.order-btn {
  width: 10em;
  height: 5ex;
  background-color: rgb(232, 80, 4);
  border: 2px solid rgb(15, 232, 247);
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  gap: 20px;
  color: black;
  cursor: pointer;
}

.order-btn:hover {
  transform: scale(1.2);
  transition-delay: 0s;
  box-shadow: 0 0 10px rgb(15, 232, 247);
}
